!!!5
html
  head
    title #{title} - Rdata Consumer
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Rdata Consumer
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade,Stylus and amqp
